Repository FLearningg/Flearning_BE, pull requests merged in 2025-06, with the labels that each got.

#1 [FLN-59][BE][Feat] Add FLearning Model
  BackEnd/models/cartModel.js
  BackEnd/models/categoryModel.js
  BackEnd/models/chatModel
  BackEnd/models/commentModel.js
  BackEnd/models/conversationModel.js
  BackEnd/models/courseModel.js
  BackEnd/models/discountModel.js
  BackEnd/models/lectureModel.js
  BackEnd/models/lessonModel.js
  BackEnd/models/notificationModel.js
  BackEnd/models/progressModel.js
  BackEnd/models/sectionModel.js
  BackEnd/models/userModel.js
  BackEnd/models/wishlistModel.js
Labels: Model

#2 [FLN-54][BE] Authentication
  BackEnd/controllers/authController.js
  BackEnd/models/chatModel.js
  BackEnd/models/tokenModel.js
  BackEnd/models/userModel.js
  BackEnd/package-lock.json
  BackEnd/package.json
  BackEnd/routes/authRoutes.js
  BackEnd/server.js
  BackEnd/utils/sendEmail.js
Labels: authentication

#3 [FLN-54][BE] Add Role-based middleware authorization and reset/forget/change password
  BackEnd/controllers/authController.js
  BackEnd/controllers/userController.js
  BackEnd/middlewares/authMiddleware.js
  BackEnd/models/chatModel
  BackEnd/routes/authRoutes.js
  BackEnd/routes/userRoutes.js
  BackEnd/server.js
Labels: enhancement, authentication

#4 [FLN-75][Hoang][UI] Update model for FLearning [18.06.2025]
  BackEnd/models/cartModel.js
  BackEnd/models/categoryModel.js
  BackEnd/models/chatModel.js
  BackEnd/models/commentModel.js
  BackEnd/models/conversationModel.js
  BackEnd/models/courseModel.js
  BackEnd/models/discountModel.js
  BackEnd/models/lectureModel.js
  BackEnd/models/lessonModel.js
  BackEnd/models/notificationModel.js
  BackEnd/models/progressModel.js
  BackEnd/models/sectionModel.js
  BackEnd/models/userModel.js
  BackEnd/models/wishlistModel.js
Labels: Model

#7 [FLN-54][BE] Add Feature Resend Email
  BackEnd/controllers/authController.js
  BackEnd/controllers/userController.js
  BackEnd/models/tokenModel.js
  BackEnd/routes/authRoutes.js
  BackEnd/routes/userRoutes.js
Labels: enhancement, authentication

#10 [feat][FLN-66][BE] Add Cart & Wishlist API
  BackEnd/controllers/cartController.js
  BackEnd/controllers/wishlistController.js
  BackEnd/routes/cartRoutes.js
  BackEnd/routes/wishlistRoutes.js
  BackEnd/server.js
Labels: cart and wishlist

#8 [FLN-62][BE] Add Course, categories, notification API
  .gitignore
  BackEnd/controllers/cartController.js
  BackEnd/controllers/categoryController.js
  BackEnd/controllers/courseController.js
  BackEnd/controllers/notificationController.js
  BackEnd/controllers/wishlistController.js
  BackEnd/package.json
  BackEnd/routes/categoryRoutes.js
  BackEnd/routes/courseRoutes.js
  BackEnd/routes/notificationRoutes.js
  BackEnd/server.js
Labels: HomePage and general

#11 [FLN-64][BE] Add Feedback API
  BackEnd/controllers/feedbackController.js
  BackEnd/models/discountModel.js
  BackEnd/models/feedbackModel.js
  BackEnd/routes/feedbackRoutes.js
  BackEnd/server.js
Labels: feedback

#15 [refactor][Hoang] Update ci/cd and big update format
  .github/workflows/deploy-backend.yml
  .github/workflows/test-flearning-be.yml
  BackEnd/.gitignore
  BackEnd/.prettierignore
  BackEnd/.prettierrc.json
  BackEnd/package.json
  package.json
Labels: ci/cd, refactor

#14 [BE] Check banned user can't login
  BackEnd/controllers/authController.js
Labels: authentication

#12 Draft:[feat][FLN-70][API] Add admin API
  BackEnd/controllers/adminController.js
  BackEnd/controllers/firebaseController.js
  BackEnd/middlewares/uploadMiddleware.js
  BackEnd/models/lessonModel.js
  BackEnd/models/sectionModel.js
  BackEnd/package.json
  BackEnd/routes/adminRoutes.js
  BackEnd/server.js
  BackEnd/utils/cleanup-temp-files.js
  BackEnd/utils/firebaseStorage.js
  COMMENT_RULES.md
Labels: Admin

#26 [Hoang][UI] HOTFIX Route and Middle ware merge 26.06 [26.06.2025]
  BackEnd/middlewares/driveMiddleware.js
  BackEnd/routes/authRoutes.js
  BackEnd/routes/profileRoutes.js
Labels: bug, HomePage and general, Admin

#27 [bugfix][BE] Fix bug upload video
  BackEnd/controllers/adminController.js
  BackEnd/controllers/categoryController.js
  BackEnd/models/courseModel.js
  BackEnd/routes/adminRoutes.js
  BackEnd/utils/firebaseStorage.js
Labels: Admin

#28 [Enhancement][BE] Add thêm trường icon để nhập icon (bootstrap icon name)
  BackEnd/controllers/categoryController.js
  BackEnd/models/categoryModel.js
Labels: enhancement, Model

#31 [FLN-80][BE] Fix update controller after change category model
  BackEnd/controllers/courseController.js
Labels: bug, HomePage and general

#29 [feat][refactor][FLN-67][Hoang][API] Apply API to message/chatting
  BackEnd/controllers/chatController.js
  BackEnd/controllers/conversationController.js
  BackEnd/controllers/userController.js
  BackEnd/middlewares/uploadMiddleware.js
  BackEnd/package.json
  BackEnd/routes/chatRoutes.js
  BackEnd/routes/conversationRoutes.js
  BackEnd/routes/userRoutes.js
  BackEnd/server.js
  BackEnd/socket/chatSocket.js
  BackEnd/socket/eventEmitters.js
Labels: Profile, refactor

#38 [FLN-83][BE] Fix API to fetch data for Purchase History, Student Dashboard, My Course
  BackEnd/controllers/profileController.js
Labels: bug, Profile

#41 [FLN-84][BE] Fix lỗi không populate hết data
  BackEnd/controllers/cartController.js
  BackEnd/controllers/wishlistController.js
Labels: bug, cart and wishlist
